h1,h2,h3,h4,h5,h6,p, a{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: rgb(240, 238, 230) !important;

}

.nav-custom{
    background: linear-gradient(315deg, #873921b5 0%, #f2a65a 74%);
}

.bg-property{
    background-size: cover;
    background-image: url(https://static.vecteezy.com/system/resources/previews/022/903/424/large_2x/ai-generative-3d-modern-luxury-real-estate-house-for-sale-and-rent-luxury-property-concept-ai-generated-artwork-free-photo.jpg);
    height: 100vh;
}

.white-custom{
    color: rgb(240, 238, 230) !important;
}

.title{
    color: rgb(240, 238, 230);
    border-radius: 10px;
    padding: 5px;
    text-shadow: 2px 2px 4px#000000;
    background-color: #0000002c;
}

.section1{
    height: auto;
    padding-top: 7em;
    padding-bottom: 7em;
}

.box1{
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    padding: 40px;
    transition: 0.5s;
    border-radius: 15px;
}

.box1:hover{
    transform: scale(1.05);
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
}

.advantages{
    background-color: #772f1a;
    background-image: linear-gradient(315deg, #873921b5 0%, #f2a65a 74%);
    border-radius: 15px;
    width: 100px;
    height: 10px;
}

.card{
    transition: 0.5s;
}

.card:hover{
    transform: scale(1.05);
}

.data-custom{
    height: auto;
    padding: 10px;
    width: 75% !important;
}

.feedback-input {
    color:white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:1px solid #c5c5c5;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }
  
  .feedback-input:focus { border:1px solid #fca400; }
  
  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }
  
  [type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:linear-gradient(315deg, #873921b5 0%, #f2a65a 74%);
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
    transition: 0.7s;
  }
  [type="submit"]:hover { background:linear-gradient(315deg, #f2a65a 0%, #873921b5 74%); }

  